global
  log stdout format raw local0

defaults
  log global
  mode tcp
  timeout connect 10s
  timeout client 1h
  timeout server 1h

frontend dokploy_http
  bind *:80
  default_backend dokploy_traefik_http

backend dokploy_traefik_http
  server playground_traefik host.lzcapp:30080 check inter 5s fall 3 rise 2 init-addr libc,none

frontend dokploy_https
  bind *:443
  default_backend dokploy_traefik_https

backend dokploy_traefik_https
  server playground_traefik host.lzcapp:30443 check inter 5s fall 3 rise 2 init-addr libc,none
